# Jupyter
**/__pycache__
**/*.pyc
**/.ipynb_checkpoints
**/*.slides.html
.idea

# package
src/eco4weather.egg-info/

#todo
todo.md

# Documentation
#modeco/doc_sphinx/*

# build
build/
dist/
modeco.egg-info/

# swap files
**/.*.swp
